<div class="login-box">
    <div class="login-logo">
      <a href="thhps://imali.co.mz"><b style="background-color: #00a65a;padding:5px;color: white;">imali</b>BUSINESS</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Faça login para iniciar a sessão</p>
  
      <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">

        <app-input errorMessage="Email Inválido" >
          <input formControlName="email" type="email" class="form-control" placeholder="Email">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </app-input>

        <app-input errorMessage="A senha deve ter 8 caracteres." >
          <input formControlName="password" type="password" class="form-control" placeholder="Password">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </app-input>


        <div class="row">

          <div class="col-xs-12" style="margin-top: 5px;">
            <app-button [buttonObj]="{
              nameButton:'Entrar',
              color:'success btn-block',
              icon:'sign-in',
              type:'submit',
              nameButtonLoading:'AUTENTICANDO'
             }" 
              [buttonLoading]="buttonLoading" 
              [formValidation]="loginForm.invalid">
            </app-button>
          </div>

          <div class="col-xs-12">
            <div class="checkbox icheck text-center">
              <label>
                <a href="javascript:void(0)">Esqueceu a sua senha?</a><br>
              </label>
            </div>
          </div>

          <!-- /.col -->
        
          <!-- /.col -->
        </div>
      </form>

  
    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->