<header class="main-header">

  <!-- Logo -->
  <a routerLink="/" class="logo text-center">
    <!-- mini logo for sidebar mini 50xB0 pixels -->
    <span class="logo-mini"><b>2i</b>Bi</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
      <!-- <img style="width:120px;height:50px;" src="http://imaliadmin.paytek-africa.com/assets/logo.png" class="img-responsive" alt=""> -->
      <b class="text-success bg-green" style="padding:7px;">2iBi</b> CHALLENGE

    </span>
  </a>

  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>


  </nav>
</header>



<aside class="main-sidebar">

  <section class="sidebar">

    <ul class="sidebar-menu">
      
      
      <li class="treeview">
        <a  href="javascript:void(0)" routerLinkActive="active">
          <i class="fa fa-flag"></i> <span>Countries</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink="/countries"><i class="fa fa-arrow-circle-right"></i>List</a></li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>


