
<!-- <app-bread-crumb></app-bread-crumb> -->


 <section class="content">

  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Lista de Países - API RESTCOUNTRIES</h3>
          
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <button (click)="generateXML()" style="margin-bottom: 5px;">XML</button>
          <app-table  id_table="tabela_test_1">
            <ng-container class="tabela" *ngIf="!isLoading">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Capital</th>
                  <th>Região</th>
                  <th>Sub-Região</th>
                  <th>População</th>
                  <th>Área</th>
                  <th>Fusos Horários</th>
                  <th>Nome Nativo</th>
                  <th>Link da Bandeira</th>
                </tr>
                </thead>
                <tbody>
                 
                  <tr *ngFor="let country of countries">
                    <td>{{country.name}}</td>
                    <td>{{country.capital}}</td>
                    <td>{{country.region}}</td>
                    <td>{{country.subregion}}</td>
                    <td>{{country.population}}</td>
                    <td>{{country.area}}</td>
                    <td>
                      <span *ngFor="let tz of country.timezones">{{tz}}<br></span>
                    </td>
                    <td>{{country.nativeName}}</td>
                    <td>
                        <img class="img-responsive" [src]="country.flag" alt="Flag" style="width: 70px;height: 40px;">
                      <a [href]="country.flag" target="_blank">{{country.flag}}</a>
                    </td>
                  </tr>
               
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>Nome</th>
                      <th>Capital</th>
                      <th>Região</th>
                      <th>Sub-Região</th>
                      <th>População</th>
                      <th>Área</th>
                      <th>Fuso Horário</th>
                      <th>Nome Nativo</th>
                      <th>Link da Bandeira</th>
                    </tr>
                    </tfoot>
            </ng-container>
          </app-table>
          
        </div>
        <!-- /.box-body -->

        <app-box-loading class="overlay" *ngIf="isLoading"></app-box-loading>
      </div>
      <!-- /.box -->
    </div>

  </div>
  <!-- /.row -->
</section>